body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-color: rgb(0, 0%, 95%);
}

.calculator {
  font-family: Arial, sans-serif;
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;

}
#display{
    width: 90%;
    padding: 20px;
    padding-right: 30px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(77, 77, 77);
    color: white;
    overflow-x: auto;
    white-space: nowrap;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: rgb(93, 91, 91);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
    background-color: rgb(178, 178, 178);
}
button:active{
    background-color: rgb(205, 204, 204);
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(250, 177, 42);
}
.operator-btn:active{
    background-color: rgb(255, 166, 0);
}